/cmake-build-debug/
/.idea/.gitignore
/.idea/BalanceCar.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations/OCD_BalanceCar.xml
/.idea/vcs.xml
/cmake-build-debug-stm32/
/.osx.project
/.idea/encodings.xml
